<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>

  <nav id="main-navigation">
    <a href="{{ '/' | relative_url }}" class="btn">Home</a>
    <a href="{{ '/seniors/' | relative_url }}" class="btn">Resources for Seniors</a>
    <a href="{{ '/caregivers/' | relative_url }}" class="btn">Resources for Caregivers</a>
    <a href="{{ '/libraryResources/' | relative_url }}" class="btn">Library Resources</a>
</nav>

</header>
