---
---

.page-header {
  background-color: transparent;
  background-image: url({{ '/assets/images/spring-meadow.jpg' | relative_url }});
  background-size: cover;
  background-position: center;
  font-family: calibri;
}

nav {
  display: flex;
  justify-content: center;
  .btn {
    background-color: rgba(#ffffff, .25);
    border-color: #ffffff;
    color: #000000;
    width: 55%;
    min-width: 50px;
    display: inline-block;
    font-size: 20px;
  }
}

.main-content {
  padding: 10px;
}

body {
  color: #000000;
}

#heading1 {
  font-size: 40px;
  color: #000000;
}

#heading2 {
  font-weight: bold;
  font-size: 30px;
  color:#000000;

}

.table-of-contents {
  background-color: rgba(#000000, .10);
  font-size: 25px;
  padding:20px;
  margin-right: 400px;
  border-color:#000000;
  
}
